BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: None
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
FixNamespaceComments: true
